# API Config
PORT=3000

# Database
# Replace the below string with your MongoDB Atlas connection string in production
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/blog-api?retryWrites=true&w=majority

# JWT Authentication
JWT_SECRET=your_super_secret_jwt_key_that_should_be_long
JWT_EXPIRES_IN=90d
